body {
    background-color: white;
}
h1,h5{
    font-family: 'Gabriela', serif;
    color: #FBDB52;

}
h4{
    font-family: 'Gabriela', serif;
    color: #D5342C;

}
p{
    font-family: 'Gabriela', serif;
}
footer{
    margin-top: 2%;
    background-color: #000;

}
.navbar-default .navbar-brand {
    font-family: 'Gabriela', serif; !important;
    color: #FBDB52;!important;
}
.header{
    background-color:#84818B;
    padding-bottom: 3%;
    padding-top: 3%;
}
.landing{
    margin: 0%;
}
.album{
    border: #84818B
    
}
.footertext{
    color: white;
}
#footer{
    padding-top: 2%;
}

