

/*********************************************
INDEX STYLES
**********************************************/

body {
    background-color: white;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1,h5{
    font-family: 'Gabriela', serif;
    color: #FBDB52;

}
h4,h3,h2{
    font-family: 'Gabriela', serif;
    color: #D5342C;

}
p{
    font-family: 'Gabriela', serif;
}
footer{
    margin-top: 2%;
    background-color: #000;

}

.navbar-default .navbar-brand {
    font-family: 'Gabriela', serif !important;
    color: #FBDB52 !important;
}
.imagecotainer{
    position: relative;
}

.text-block {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header{
    background-color:#84818B;
    padding-bottom: 3%;
    padding-top: 3%;
}
.title{
    font-family: 'Gabriela', serif;
    color: #D5342C;
}
.landing{
    margin: 0%;
}
.album{
    border: #84818B
    
}
.footertext{
    color: white;
}
.no-gutters>.col, .no-gutters>[class*=col-]{
    padding: 1% !important;
}

#footer{
    padding-top: 2%;
}


/*********************************************
MEDIA QUERIES
**********************************************/
#image2{
    display: none;
}
#title{
    display: none;
}

@media only screen and (max-width: 750px){ 
    #image1{
         display: none !important;
     }
     #image2{
         display: block;
     }
     #title{
        display: block;
    }
    #title2{
        display: none;
        justify-content: center
    }
     
     
 }








