body {
    background-color: white;
}
h5{
    font-family: 'Gabriela', serif;
    color: #FBDB52;

}
h1,h4,h2{
    font-family: 'Gabriela', serif;
    color: #D5342C;

}
p{
    font-family: 'Gabriela', serif;
}
footer{
   
    background-color: #000;

}
.title{
    padding-top: 4%;
    
}
.leftcolumn{
    padding: 2%;
    background-color:#84818B;
}
.rightcolumn{
    
    padding: 2%;
}


.header{
    background-color:#84818B;
    padding-bottom: 3%;
    padding-top: 3%;
}
.backbtn{
    color: #FBDB52;
}
.album{
    border: #84818B
    
}
.footertext{
    color: white;
}
#footer{
    padding-top: 2%;
}

