
h3{
    font-family: 'Gabriela', serif;
    color:black !important;

}



body {
    background-color: white;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1,h5{
    font-family: 'Gabriela', serif;
    color: #FBDB52;

}
h3{
    font-family: 'Gabriela', serif;
    color:black !important;

}
h4,h2{
    font-family: 'Gabriela', serif;
    color: #D5342C;

}
p{
    font-family: 'Gabriela', serif;
}
footer{
    margin-top: 2%;
    background-color: #000;

}

.navbar-default .navbar-brand {

    font-family: 'Gabriela', serif !important;
    color: #FBDB52 !important;
}
.imagecotainer{
    position: relative;
}
.container-fluid{
    padding: 0%;
}


.text-block {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header{
    background-color:#84818B;
    padding-bottom: 3%;
    padding-top: 3%;
}
.concertmenu{
    background-color: white;
    padding: 4%;
    margin: 2%;
    
}

.futureConcerts{
    padding-top:  5%;
    padding-bottom: 5%;
    margin: 1%;
    background-color: white;

}
.purchaseInfo{
    background-color: white;
    padding: 4%;
    margin: 2%;
}
.ticketmenu{
    background-color: antiquewhite;
    padding-top: 2%;
}



.footertext{
    color: white;
}
.no-gutters>.col, .no-gutters>[class*=col-]{
    padding: 1% !important;
}

#footer{
    padding-top: 2%;
}

