
h3{
    font-family: 'Gabriela', serif;
    color:black !important;

}



body {
    background-color: white;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1,h5{
    font-family: 'Gabriela', serif;
    color: #FBDB52;

}
h3{
    font-family: 'Gabriela', serif;
    color:black !important;

}
h4,h2{
    font-family: 'Gabriela', serif;
    color: #D5342C;

}
p{
<<<<<<< HEAD
    font-family: sans-serif;
=======
    font-family: 'Candara', serif;
>>>>>>> bfa0731cdf376fe39b795bb74e0389fe3333059f
}
footer{
   
    background-color: #000;

}

.navbar-default .navbar-brand {

    font-family: 'Gabriela', serif !important;
    color: #FBDB52 !important;
}
.imagecotainer{
    position: relative;
}
.container-fluid{
    padding: 0%;
}


.text-block {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header{
    background-color:#84818B;
    padding-bottom: 3%;
    padding-top: 3%;
}
.concertmenu{
    background-color: white;
    padding: 4%;
    margin: 2%;
    
}
.checkoutMenu{
    padding-top: 2%;
}
.messageImage{
    background-image: url(../assets/Symphony.png);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    padding: 17%
}
#userPreferences{
    background-color: white;
}


.futureConcerts{
    padding-top:  5%;
    padding-bottom: 5%;
    margin: 1%;
    background-color: white;

}
.purchaseInfo{
    background-color: white;
    padding: 4%;
    margin: 2%;
}
.ticketmenu{
    background-image: url(../assets/Symphony.png);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    padding: 2%;

}
.nextShows{
    background-color:#84818B;
    padding-bottom: 3%;
    padding-top: 3%;
}

.ticketmenu{
    padding-top: 2%;
}
#errorBox{

    margin: 4%;
}


.footertext{
    color: white;
}
.no-gutters>.col, .no-gutters>[class*=col-]{
    padding: 1% !important;
}

#footer{
    padding-top: 2%;
}

